<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AppUserScoreLogMapper">
    
    <resultMap type="AppUserScoreLog" id="AppUserScoreLogResult">
        <result property="logId"    column="log_id"    />
        <result property="userId"    column="user_id"    />
        <result property="score"    column="score"    />
        <result property="balance"    column="balance"    />
        <result property="tradeType"    column="trade_type"    />
        <result property="tradeTitle"    column="trade_title"    />
        <result property="tradeDetail"    column="trade_detail"    />
        <result property="tradeData"    column="trade_data"    />
        <result property="businessType"    column="business_type"    />
        <result property="businessId"    column="business_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectAppUserScoreLogVo">
        select log_id, user_id, score, balance, trade_type, trade_title, trade_detail, trade_data, business_type, business_id, create_time, status from app_user_score_log
    </sql>

    <select id="selectAppUserScoreLogList" parameterType="AppUserScoreLog" resultMap="AppUserScoreLogResult">
        <include refid="selectAppUserScoreLogVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="balance != null "> and balance = #{balance}</if>
            <if test="tradeType != null "> and trade_type = #{tradeType}</if>
            <if test="tradeTitle != null  and tradeTitle != ''"> and trade_title = #{tradeTitle}</if>
            <if test="tradeDetail != null  and tradeDetail != ''"> and trade_detail = #{tradeDetail}</if>
            <if test="tradeData != null  and tradeData != ''"> and trade_data = #{tradeData}</if>
            <if test="businessType != null  and businessType != ''"> and business_type = #{businessType}</if>
            <if test="businessId != null "> and business_id = #{businessId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAppUserScoreLogByLogId" parameterType="Long" resultMap="AppUserScoreLogResult">
        <include refid="selectAppUserScoreLogVo"/>
        where log_id = #{logId}
    </select>

    <insert id="insertAppUserScoreLog" parameterType="AppUserScoreLog" useGeneratedKeys="true" keyProperty="logId">
        insert into app_user_score_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="score != null">score,</if>
            <if test="balance != null">balance,</if>
            <if test="tradeType != null">trade_type,</if>
            <if test="tradeTitle != null">trade_title,</if>
            <if test="tradeDetail != null">trade_detail,</if>
            <if test="tradeData != null">trade_data,</if>
            <if test="businessType != null">business_type,</if>
            <if test="businessId != null">business_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="score != null">#{score},</if>
            <if test="balance != null">#{balance},</if>
            <if test="tradeType != null">#{tradeType},</if>
            <if test="tradeTitle != null">#{tradeTitle},</if>
            <if test="tradeDetail != null">#{tradeDetail},</if>
            <if test="tradeData != null">#{tradeData},</if>
            <if test="businessType != null">#{businessType},</if>
            <if test="businessId != null">#{businessId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateAppUserScoreLog" parameterType="AppUserScoreLog">
        update app_user_score_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="tradeType != null">trade_type = #{tradeType},</if>
            <if test="tradeTitle != null">trade_title = #{tradeTitle},</if>
            <if test="tradeDetail != null">trade_detail = #{tradeDetail},</if>
            <if test="tradeData != null">trade_data = #{tradeData},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
            <if test="businessId != null">business_id = #{businessId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteAppUserScoreLogByLogId" parameterType="Long">
        delete from app_user_score_log where log_id = #{logId}
    </delete>

    <delete id="deleteAppUserScoreLogByLogIds" parameterType="String">
        delete from app_user_score_log where log_id in 
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
</mapper>