
.step{
	margin: 30rpx 0 50rpx 0;
	.u-steps{
		.u-steps__item__num{
			width: 88rpx !important;
			height: 88rpx !important;
			border-width: 4rpx !important; 
			border-color: #FD5F15 !important;
			text{
				font-size: 40rpx !important;
				font-weight: 600 !important;
				color: #FD5F15 !important;
			}
		}
		.u-steps__item__line{
			top: calc(88rpx / 2) !important;
		}
		.u-steps__item__text--row{
			display: block;
			width: 240rpx;
			font-size: 30rpx;
			color: #000 !important;
			padding: 0 20rpx;
			white-space: pre-wrap;
		}
	}
}
.share-box-bg{
	margin: 24rpx;
	background: #EEE2CE;
	padding: 100rpx 40rpx 220rpx 40rpx;
}
.share-box{
	background: #fff;
	padding: 24rpx;
	.share-main{
		border: 1rpx solid #C8A889;
		position: relative;
		.dot{
			width: 24rpx;
			height: 24rpx;
			background: #C8A889;
			position: absolute;
			z-index: 9;
			&.l-t{
				left: 0;
				top: 0;
			}
			&.r-t{
				right: 0;
				top: 0;
			}
			&.l-b{
				left: 0;
				bottom: 0;
			}
			&.r-b{
				right: 0;
				bottom: 0;
			}
		}
		.title{
			width: 160rpx;
			height: 80rpx;
			text-align: center;
			line-height: 80rpx;
			background: #C8A889;
			color: #fff;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -40rpx;
			z-index: 9;
		}
		.main{
			.user{
				margin: 0 auto;
				text-align: center;
				.user-img{
					width: 120rpx;
					height: 120rpx;
					margin: 0 auto;
					margin-top: 100rpx;
					border-radius: 8rpx;
					overflow: hidden;
					image{
						width: 120rpx;
						height: 120rpx;
					}
				}
				text{
					display: block;
					text-align: center;
					font-size: 32rpx;
					line-height: 2;
					margin-top: 20rpx;
				}
			}
			
			.tips{
				text-align: center;
				font-size: 28rpx;
				line-height: 2;
				margin: 100rpx 0;
			}
			.code-img{
				width: 308rpx;
				height: 308rpx;
				margin: 0 auto;
				border: 16rpx solid #C8A889;
				border-radius: 3rpx;
				margin-bottom: 100rpx;
				overflow: hidden;
				image{
					width: 300rpx;
					height: 300rpx;
				}
			}
		}
		
	}
}
canvas{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 0;
}
.btn-bar{
	background: #fff;
	width: 100%;
	padding: 24rpx;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
	padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
	button{
		background: #FD5F15 !important;
		color: #fff !important;
		
		&::after{
			display: none;
		}
	}
}